<nav class="nav-social">
    <div class="containner-social">
        <img src="../../../assets/img/Group 2.png" width="200" alt="marte">
        <span class="text-logo">todosi</span>
        <div class="redes-socias">
            <a href="https://www.instagram.com/eldsontt/">
                <img src="../../../assets/img/insta.png" width="30" alt="instagram">
            </a>
            <a href="https://github.com/EldsonC">
                <img src="../../../assets/img/github.png" width="30" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/eldson-caldas-4b0416226/">
                <img src="../../../assets/img/linkedin.png" width="30" alt="github">
            </a>
        </div>
    </div>
</nav>

<div class="containner-todo-list">
    <app-sheet-card></app-sheet-card>
</div>